In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

pd.set_option('display.max.rows',1000)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Data Preparation

* Focus is always to understand the final data structure
* Support each step by visual analytics

### John Hopkins GITHUB csv data

In [3]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)

In [4]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,7/21/22,7/22/22,7/23/22,7/24/22,7/25/22,7/26/22,7/27/22,7/28/22,7/29/22,7/30/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,184224,184360,184473,184587,184819,185086,185272,185393,185481,185552
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,301394,302767,303925,304890,305123,306789,308050,309278,310362,311381
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,266654,266700,266772,266839,266916,267010,267096,267194,267287,267374
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,45326,45326,45326,45326,45326,45326,45326,45508,45508,45508
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,102209,102301,102301,102301,102301,102301,102301,102301,102301,102301

In [5]:
pd_raw.columns[4:]

Index(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20',
       ...
       '7/21/22', '7/22/22', '7/23/22', '7/24/22', '7/25/22', '7/26/22',
       '7/27/22', '7/28/22', '7/29/22', '7/30/22'],
      dtype='object', length=921)

In [6]:
time_idx=pd_raw.columns[4:]

In [7]:
df_plot = pd.DataFrame({'date':time_idx})
df_plot.head()

      date
0  1/22/20
1  1/23/20
2  1/24/20
3  1/25/20
4  1/26/20

In [8]:
pd_raw['Country/Region']

0                           Afghanistan
1                               Albania
2                               Algeria
3                               Andorra
4                                Angola
5                            Antarctica
6                   Antigua and Barbuda
7                             Argentina
8                               Armenia
9                             Australia
10                            Australia
11                            Australia
12                            Australia
13                            Australia
14                            Australia
15                            Australia
16                            Australia
17                              Austria
18                           Azerbaijan
19                              Bahamas
20                              Bahrain
21                           Bangladesh
22                             Barbados
23                              Belarus
24                              Belgium
25                               Belize
26                                Benin
27                               Bhutan
28                              Bolivia
29               Bosnia and Herzegovina
30                             Botswana
31                               Brazil
32                               Brunei
33                             Bulgaria
34                         Burkina Faso
35                                Burma
36                              Burundi
37                           Cabo Verde
38                             Cambodia
39                             Cameroon
40                               Canada
41                               Canada
42                               Canada
43                               Canada
44                               Canada
45                               Canada
46                               Canada
47                               Canada
48                               Canada
49                               Canada
50                               Canada
51                               Canada
52                               Canada
53                               Canada
54                               Canada
55                               Canada
56             Central African Republic
57                                 Chad
58                                Chile
59                                China
60                                China
61                                China
62                                China
63                                China
64                                China
65                                China
66                                China
67                                China
68                                China
69                                China
70                                China
71                                China
72                                China
73                                China
74                                China
75                                China
76                                China
77                                China
78                                China
79                                China
80                                China
81                                China
82                                China
83                                China
84                                China
85                                China
86                                China
87                                China
88                                China
89                                China
90                                China
91                                China
92                                China
93                             Colombia
94                              Comoros
95                  Congo (Brazzaville)
96                     Congo (Kinshasa)
97                           Costa Rica
98                        Cote d'Ivoire
99                              Croatia
100                                Cuba
101                              Cyprus
102                             Czechia
103                             Denmark
104                             Denmark
105                             Denmark
106                    Diamond Princess
107                            Djibouti
108                            Dominica
109                  Dominican Republic
110                             Ecuador
111                               Egypt
112                         El Salvador
113                   Equatorial Guinea
114                             Eritrea
115                             Estonia
116                            Eswatini
117                            Ethiopia
118                                Fiji
119                             Finland
120                              France
121                              France
122                              France
123                              France
124                              France
125                              France
126                              France
127                              France
128                              France
129                              France
130                              France
131                              France
132                               Gabon
133                              Gambia
134                             Georgia
135                             Germany
136                               Ghana
137                              Greece
138                             Grenada
139                           Guatemala
140                              Guinea
141                       Guinea-Bissau
142                              Guyana
143                               Haiti
144                            Holy See
145                            Honduras
146                             Hungary
147                             Iceland
148                               India
149                           Indonesia
150                                Iran
151                                Iraq
152                             Ireland
153                              Israel
154                               Italy
155                             Jamaica
156                               Japan
157                              Jordan
158                          Kazakhstan
159                               Kenya
160                            Kiribati
161                        Korea, North
162                        Korea, South
163                              Kosovo
164                              Kuwait
165                          Kyrgyzstan
166                                Laos
167                              Latvia
168                             Lebanon
169                             Lesotho
170                             Liberia
171                               Libya
172                       Liechtenstein
173                           Lithuania
174                          Luxembourg
175                          MS Zaandam
176                          Madagascar
177                              Malawi
178                            Malaysia
179                            Maldives
180                                Mali
181                               Malta
182                    Marshall Islands
183                          Mauritania
184                           Mauritius
185                              Mexico
186                          Micronesia
187                             Moldova
188                              Monaco
189                            Mongolia
190                          Montenegro
191                             Morocco
192                          Mozambique
193                             Namibia
194                               Nepal
195                         Netherlands
196                         Netherlands
197                         Netherlands
198                         Netherlands
199                         Netherlands
200                         New Zealand
201                         New Zealand
202                           Nicaragua
203                               Niger
204                             Nigeria
205                     North Macedonia
206                              Norway
207                                Oman
208                            Pakistan
209                               Palau
210                              Panama
211                    Papua New Guinea
212                            Paraguay
213                                Peru
214                         Philippines
215                              Poland
216                            Portugal
217                               Qatar
218                             Romania
219                              Russia
220                              Rwanda
221               Saint Kitts and Nevis
222                         Saint Lucia
223    Saint Vincent and the Grenadines
224                               Samoa
225                          San Marino
226               Sao Tome and Principe
227                        Saudi Arabia
228                             Senegal
229                              Serbia
230                          Seychelles
231                        Sierra Leone
232                           Singapore
233                            Slovakia
234                            Slovenia
235                     Solomon Islands
236                             Somalia
237                        South Africa
238                         South Sudan
239                               Spain
240                           Sri Lanka
241                               Sudan
242                Summer Olympics 2020
243                            Suriname
244                              Sweden
245                         Switzerland
246                               Syria
247                             Taiwan*
248                          Tajikistan
249                            Tanzania
250                            Thailand
251                         Timor-Leste
252                                Togo
253                               Tonga
254                 Trinidad and Tobago
255                             Tunisia
256                              Turkey
257                                  US
258                              Uganda
259                             Ukraine
260                United Arab Emirates
261                      United Kingdom
262                      United Kingdom
263                      United Kingdom
264                      United Kingdom
265                      United Kingdom
266                      United Kingdom
267                      United Kingdom
268                      United Kingdom
269                      United Kingdom
270                      United Kingdom
271                      United Kingdom
272                      United Kingdom
273                      United Kingdom
274                      United Kingdom
275                             Uruguay
276                          Uzbekistan
277                             Vanuatu
278                           Venezuela
279                             Vietnam
280                  West Bank and Gaza
281                Winter Olympics 2022
282                               Yemen
283                              Zambia
284                            Zimbabwe
Name: Country/Region, dtype: object

In [9]:
pd_raw[pd_raw['Country/Region']=='Germany'].iloc[:,4::].sum(axis=0)

1/22/20            0
1/23/20            0
1/24/20            0
1/25/20            0
1/26/20            0
1/27/20            1
1/28/20            4
1/29/20            4
1/30/20            4
1/31/20            5
2/1/20             8
2/2/20            10
2/3/20            12
2/4/20            12
2/5/20            12
2/6/20            12
2/7/20            13
2/8/20            13
2/9/20            14
2/10/20           14
2/11/20           16
2/12/20           16
2/13/20           16
2/14/20           16
2/15/20           16
2/16/20           16
2/17/20           16
2/18/20           16
2/19/20           16
2/20/20           16
2/21/20           16
2/22/20           16
2/23/20           16
2/24/20           16
2/25/20           16
2/26/20           21
2/27/20           26
2/28/20           53
2/29/20           66
3/1/20           117
3/2/20           150
3/3/20           188
3/4/20           240
3/5/20           349
3/6/20           534
3/7/20           684
3/8/20           847
3/9/20          1112
3/10/20         1296
3/11/20         1567
3/12/20         2369
3/13/20         3062
3/14/20         3795
3/15/20         4838
3/16/20         6012
3/17/20         7156
3/18/20         8198
3/19/20        10999
3/20/20        13957
3/21/20        16662
3/22/20        18610
3/23/20        22672
3/24/20        27436
3/25/20        31554
3/26/20        36508
3/27/20        42288
3/28/20        48582
3/29/20        52547
3/30/20        57298
3/31/20        61913
4/1/20         67366
4/2/20         73522
4/3/20         79696
4/4/20         85778
4/5/20         91714
4/6/20         95391
4/7/20         99225
4/8/20        103228
4/9/20        108202
4/10/20       113525
4/11/20       117658
4/12/20       120479
4/13/20       123016
4/14/20       125098
4/15/20       127584
4/16/20       130450
4/17/20       133830
4/18/20       137439
4/19/20       139897
4/20/20       141672
4/21/20       143457
4/22/20       145694
4/23/20       148046
4/24/20       150383
4/25/20       152438
4/26/20       154175
4/27/20       155193
4/28/20       156337
4/29/20       157641
4/30/20       159119
5/1/20        160758
5/2/20        161703
5/3/20        162496
5/4/20        163175
5/5/20        163860
5/6/20        164807
5/7/20        166091
5/8/20        167300
5/9/20        168551
5/10/20       169218
5/11/20       169575
5/12/20       170508
5/13/20       171306
5/14/20       172239
5/15/20       173152
5/16/20       173772
5/17/20       174355
5/18/20       174697
5/19/20       175210
5/20/20       176007
5/21/20       176752
5/22/20       177212
5/23/20       177850
5/24/20       178281
5/25/20       178570
5/26/20       179002
5/27/20       179364
5/28/20       179717
5/29/20       180458
5/30/20       181196
5/31/20       181482
6/1/20        181815
6/2/20        182028
6/3/20        182370
6/4/20        182764
6/5/20        183271
6/6/20        183678
6/7/20        183979
6/8/20        184193
6/9/20        184543
6/10/20       184861
6/11/20       185416
6/12/20       185674
6/13/20       186022
6/14/20       186269
6/15/20       186461
6/16/20       186839
6/17/20       187184
6/18/20       187764
6/19/20       188534
6/20/20       189135
6/21/20       189822
6/22/20       190359
6/23/20       190862
6/24/20       191449
6/25/20       192079
6/26/20       192556
6/27/20       193243
6/28/20       193499
6/29/20       193761
6/30/20       194259
7/1/20        194725
7/2/20        195228
7/3/20        195674
7/4/20        196096
7/5/20        196335
7/6/20        196554
7/7/20        196944
7/8/20        197341
7/9/20        197783
7/10/20       198178
7/11/20       198556
7/12/20       198804
7/13/20       198963
7/14/20       199375
7/15/20       199726
7/16/20       200260
7/17/20       200843
7/18/20       201372
7/19/20       201574
7/20/20       201823
7/21/20       202345
7/22/20       202799
7/23/20       203368
7/24/20       204183
7/25/20       204964
7/26/20       205269
7/27/20       205609
7/28/20       206242
7/29/20       206926
7/30/20       207828
7/31/20       208698
8/1/20        209653
8/2/20        209893
8/3/20        210402
8/4/20        211281
8/5/20        212022
8/6/20        213067
8/7/20        214214
8/8/20        215336
8/9/20        215891
8/10/20       216327
8/11/20       217293
8/12/20       218519
8/13/20       219964
8/14/20       221413
8/15/20       222828
8/16/20       223453
8/17/20       224014
8/18/20       225404
8/19/20       226914
8/20/20       228621
8/21/20       230048
8/22/20       232082
8/23/20       232864
8/24/20       233575
8/25/20       234853
8/26/20       236429
8/27/20       237936
8/28/20       239507
8/29/20       240986
8/30/20       241771
8/31/20       242381
9/1/20        243599
9/2/20        244855
9/3/20        246166
9/4/20        247619
9/5/20        248997
9/6/20        249985
9/7/20        250799
9/8/20        252298
9/9/20        253474
9/10/20       255366
9/11/20       256850
9/12/20       258480
9/13/20       259428
9/14/20       260355
9/15/20       261762
9/16/20       263663
9/17/20       265857
9/18/20       267773
9/19/20       270070
9/20/20       271415
9/21/20       272337
9/22/20       274158
9/23/20       275927
9/24/20       278070
9/25/20       280223
9/26/20       282730
9/27/20       284140
9/28/20       285332
9/29/20       287421
9/30/20       289219
10/1/20       291722
10/2/20       294395
10/3/20       296958
10/4/20       299237
10/5/20       300619
10/6/20       303258
10/7/20       306086
10/8/20       310144
10/9/20       314660
10/10/20      319381
10/11/20      322864
10/12/20      325331
10/13/20      329453
10/14/20      334585
10/15/20      341223
10/16/20      348557
10/17/20      356387
10/18/20      361974
10/19/20      366299
10/20/20      373167
10/21/20      380762
10/22/20      392049
10/23/20      403291
10/24/20      418005
10/25/20      429181
10/26/20      437866
10/27/20      449275
10/28/20      464239
10/29/20      481013
10/30/20      499694
10/31/20      518753
11/1/20       532930
11/2/20       545027
11/3/20       560379
11/4/20       577593
11/5/20       597583
11/6/20       619089
11/7/20       642488
11/8/20       658505
11/9/20       671868
11/10/20      687200
11/11/20      705687
11/12/20      727553
11/13/20      751095
11/14/20      773556
11/15/20      790503
11/16/20      801327
11/17/20      815746
11/18/20      833307
11/19/20      855916
11/20/20      879564
11/21/20      902528
11/22/20      918269
11/23/20      929133
11/24/20      942687
11/25/20      961320
11/26/20      983588
11/27/20     1006394
11/28/20     1028089
11/29/20     1042700
11/30/20     1053869
12/1/20      1067473
12/2/20      1084743
12/3/20      1106789
12/4/20      1130238
12/5/20      1153556
12/6/20      1171323
12/7/20      1183655
12/8/20      1197709
12/9/20      1218524
12/10/20     1242203
12/11/20     1272078
12/12/20     1300516
12/13/20     1320716
12/14/20     1337078
12/15/20     1351510
12/16/20     1379238
12/17/20     1406161
12/18/20     1439938
12/19/20     1471238
12/20/20     1494009
12/21/20     1510652
12/22/20     1530180
12/23/20     1554920
12/24/20     1587115
12/25/20     1612648
12/26/20     1627103
12/27/20     1640858
12/28/20     1651834
12/29/20     1664726
12/30/20     1687185
12/31/20     1719737
1/1/21       1742661
1/2/21       1755351
1/3/21       1765666
1/4/21       1775513
1/5/21       1787410
1/6/21       1808647
1/7/21       1835038
1/8/21       1866887
1/9/21       1891581
1/10/21      1908527
1/11/21      1921024
1/12/21      1933826
1/13/21      1953426
1/14/21      1978590
1/15/21      2000958
1/16/21      2019636
1/17/21      2033518
1/18/21      2040659
1/19/21      2052028
1/20/21      2068002
1/21/21      2088400
1/22/21      2106262
1/23/21      2122679
1/24/21      2134936
1/25/21      2141665
1/26/21      2148077
1/27/21      2161275
1/28/21      2178828
1/29/21      2192850
1/30/21      2205171
1/31/21      2216363
2/1/21       2221971
2/2/21       2228085
2/3/21       2237790
2/4/21       2252001
2/5/21       2264909
2/6/21       2275394
2/7/21       2284010
2/8/21       2288545
2/9/21       2291924
2/10/21      2299996
2/11/21      2310233
2/12/21      2320093
2/13/21      2328447
2/14/21      2334561
2/15/21      2338987
2/16/21      2342843
2/17/21      2350399
2/18/21      2360606
2/19/21      2369719
2/20/21      2378883
2/21/21      2386559
2/22/21      2390928
2/23/21      2394811
2/24/21      2402818
2/25/21      2414687
2/26/21      2424684
2/27/21      2434446
2/28/21      2442336
3/1/21       2447068
3/2/21       2451011
3/3/21       2460030
3/4/21       2471942
3/5/21       2482522
3/6/21       2492079
3/7/21       2500182
3/8/21       2505193
3/9/21       2509445
3/10/21      2518591
3/11/21      2532947
3/12/21      2545781
3/13/21      2558455
3/14/21      2569245
3/15/21      2575849
3/16/21      2581329
3/17/21      2594764
3/18/21      2612268
3/19/21      2629750
3/20/21      2645783
3/21/21      2659516
3/22/21      2667225
3/23/21      2674710
3/24/21      2690523
3/25/21      2713180
3/26/21      2734753
3/27/21      2755225
3/28/21      2772401
3/29/21      2782273
3/30/21      2791822
3/31/21      2808873
4/1/21       2833173
4/2/21       2855061
4/3/21       2873190
4/4/21       2885386
4/5/21       2893883
4/6/21       2900768
4/7/21       2910445
4/8/21       2930852
4/9/21       2956316
4/10/21      2980413
4/11/21      2998268
4/12/21      3011513
4/13/21      3022323
4/14/21      3044016
4/15/21      3073442
4/16/21      3099273
4/17/21      3123077
4/18/21      3142262
4/19/21      3153699
4/20/21      3163308
4/21/21      3188192
4/22/21      3217710
4/23/21      3245253
4/24/21      3268645
4/25/21      3287418
4/26/21      3299325
4/27/21      3310301
4/28/21      3332532
4/29/21      3357268
4/30/21      3381597
5/1/21       3400532
5/2/21       3416822
5/3/21       3425982
5/4/21       3433516
5/5/21       3451550
5/6/21       3473503
5/7/21       3491988
5/8/21       3507673
5/9/21       3520329
5/10/21      3527251
5/11/21      3533376
5/12/21      3548285
5/13/21      3565704
5/14/21      3577040
5/15/21      3584934
5/16/21      3593434
5/17/21      3598846
5/18/21      3603055
5/19/21      3614095
5/20/21      3626393
5/21/21      3635162
5/22/21      3642244
5/23/21      3648958
5/24/21      3651640
5/25/21      3653551
5/26/21      3656177
5/27/21      3662490
5/28/21      3669870
5/29/21      3675296
5/30/21      3679148
5/31/21      3681126
6/1/21       3682911
6/2/21       3687828
6/3/21       3692468
6/4/21       3695633
6/5/21       3697927
6/6/21       3700367
6/7/21       3701484
6/8/21       3702688
6/9/21       3705942
6/10/21      3709129
6/11/21      3711569
6/12/21      3713480
6/13/21      3714969
6/14/21      3715518
6/15/21      3716170
6/16/21      3717625
6/17/21      3718955
6/18/21      3720031
6/19/21      3721139
6/20/21      3721981
6/21/21      3722327
6/22/21      3722782
6/23/21      3723798
6/24/21      3724806
6/25/21      3725580
6/26/21      3726172
6/27/21      3726710
6/28/21      3726929
6/29/21      3727333
6/30/21      3728141
7/1/21       3729033
7/2/21       3729682
7/3/21       3730353
7/4/21       3730912
7/5/21       3731124
7/6/21       3731564
7/7/21       3732549
7/8/21       3733519
7/9/21       3734468
7/10/21      3735420
7/11/21      3736165
7/12/21      3736489
7/13/21      3737135
7/14/21      3738683
7/15/21      3740325
7/16/21      3741781
7/17/21      3743389
7/18/21      3744681
7/19/21      3745227
7/20/21      3746410
7/21/21      3748613
7/22/21      3750503
7/23/21      3752592
7/24/21      3754511
7/25/21      3755898
7/26/21      3756856
7/27/21      3758401
7/28/21      3761169
7/29/21      3764311
7/30/21      3766765
7/31/21      3769165
8/1/21       3771262
8/2/21       3772109
8/3/21       3773875
8/4/21       3777446
8/5/21       3780985
8/6/21       3784433
8/7/21       3787639
8/8/21       3790766
8/9/21       3791949
8/10/21      3794429
8/11/21      3799425
8/12/21      3805063
8/13/21      3810641
8/14/21      3816285
8/15/21      3821013
8/16/21      3823139
8/17/21      3827051
8/18/21      3835375
8/19/21      3843775
8/20/21      3853055
8/21/21      3861147
8/22/21      3868197
8/23/21      3871865
8/24/21      3877612
8/25/21      3889173
8/26/21      3901799
8/27/21      3913828
8/28/21      3924131
8/29/21      3932547
8/30/21      3937106
8/31/21      3942856
9/1/21       3956387
9/2/21       3970102
9/3/21       3984353
9/4/21       3995188
9/5/21       4005641
9/6/21       4010390
9/7/21       4017116
9/8/21       4030681
9/9/21       4046112
9/10/21      4059081
9/11/21      4070295
9/12/21      4077640
9/13/21      4083151
9/14/21      4089476
9/15/21      4101931
9/16/21      4114856
9/17/21      4125878
9/18/21      4134779
9/19/21      4142116
9/20/21      4145852
9/21/21      4150516
9/22/21      4160970
9/23/21      4171666
9/24/21      4181393
9/25/21      4188604
9/26/21      4196378
9/27/21      4199400
9/28/21      4203571
9/29/21      4215351
9/30/21      4227501
10/1/21      4237619
10/2/21      4246136
10/3/21      4252300
10/4/21      4255388
10/5/21      4260187
10/6/21      4271734
10/7/21      4283378
10/8/21      4293807
10/9/21      4302661
10/10/21     4310273
10/11/21     4313384
10/12/21     4318355
10/13/21     4330258
10/14/21     4342640
10/15/21     4354158
10/16/21     4365107
10/17/21     4373789
10/18/21     4377845
10/19/21     4384616
10/20/21     4401631
10/21/21     4417708
10/22/21     4437280
10/23/21     4452425
10/24/21     4466157
10/25/21     4472730
10/26/21     4483203
10/27/21     4506415
10/28/21     4534452
10/29/21     4559120
10/30/21     4580663
10/31/21     4597550
11/1/21      4607208
11/2/21      4618021
11/3/21      4638419
11/4/21      4672368
11/5/21      4709488
11/6/21      4743490
11/7/21      4767033
11/8/21      4782546
11/9/21      4804378
11/10/21     4844054
11/11/21     4894250
11/12/21     4942890
11/13/21     4987971
11/14/21     5021469
11/15/21     5045076
11/16/21     5077124
11/17/21     5129950
11/18/21     5195321
11/19/21     5248291
11/20/21     5312215
11/21/21     5354942
11/22/21     5385585
11/23/21     5430911
11/24/21     5497795
11/25/21     5573756
11/26/21     5650170
11/27/21     5717295
11/28/21     5761696
11/29/21     5791060
11/30/21     5836813
12/1/21      5903999
12/2/21      5977208
12/3/21      6051560
12/4/21      6116070
12/5/21      6158125
12/6/21      6185961
12/7/21      6222020
12/8/21      6291621
12/9/21      6362232
12/10/21     6423520
12/11/21     6477217
12/12/21     6509863
12/13/21     6531606
12/14/21     6562429
12/15/21     6613730
12/16/21     6670407
12/17/21     6721375
12/18/21     6764188
12/19/21     6793536
12/20/21     6809622
12/21/21     6833050
12/22/21     6878709
12/23/21     6923636
12/24/21     6959067
12/25/21     6981281
12/26/21     6991381
12/27/21     7005289
12/28/21     7026369
12/29/21     7066412
12/30/21     7109182
12/31/21     7150422
1/1/22       7176814
1/2/22       7189329
1/3/22       7207847
1/4/22       7238408
1/5/22       7297320
1/6/22       7361660
1/7/22       7417995
1/8/22       7473884
1/9/22       7510436
1/10/22      7535691
1/11/22      7581381
1/12/22      7661811
1/13/22      7743228
1/14/22      7835451
1/15/22      7913473
1/16/22      7965977
1/17/22      8000122
1/18/22      8074527
1/19/22      8186850
1/20/22      8320386
1/21/22      8460546
1/22/22      8596007
1/23/22      8681447
1/24/22      8744840
1/25/22      8871795
1/26/22      9035795
1/27/22      9238931
1/28/22      9429079
1/29/22      9618245
1/30/22      9737215
1/31/22      9815533
2/1/22       9978146
2/2/22      10186644
2/3/22      10422764
2/4/22      10671602
2/5/22      10889417
2/6/22      11022590
2/7/22      11117857
2/8/22      11287428
2/9/22      11521678
2/10/22     11769540
2/11/22     12009712
2/12/22     12219501
2/13/22     12344661
2/14/22     12421126
2/15/22     12580343
2/16/22     12800315
2/17/22     13035941
2/18/22     13255989
2/19/22     13445094
2/20/22     13563126
2/21/22     13636993
2/22/22     13762895
2/23/22     13971947
2/24/22     14188269
2/25/22     14399012
2/26/22     14574845
2/27/22     14682758
2/28/22     14745107
3/1/22      14867218
3/2/22      15053624
3/3/22      15264297
3/4/22      15481890
3/5/22      15674100
3/6/22      15790989
3/7/22      15869417
3/8/22      16026216
3/9/22      16242070
3/10/22     16504822
3/11/22     16757658
3/12/22     16994744
3/13/22     17141351
3/14/22     17233729
3/15/22     17432617
3/16/22     17695210
3/17/22     17990141
3/18/22     18287986
3/19/22     18548225
3/20/22     18680017
3/21/22     18772331
3/22/22     18994411
3/23/22     19278143
3/24/22     19596530
3/25/22     19893028
3/26/22     20145054
3/27/22     20256278
3/28/22     20323779
3/29/22     20561131
3/30/22     20829608
3/31/22     21357095
4/1/22      21357039
4/2/22      21553495
4/3/22      21668677
4/4/22      21668677
4/5/22      21849074
4/6/22      22265788
4/7/22      22441051
4/8/22      22591726
4/9/22      22647197
4/10/22     22677986
4/11/22     22878428
4/12/22     23017079
4/13/22     23182447
4/14/22     23339311
4/15/22     23376879
4/16/22     23416663
4/17/22     23437145
4/18/22     23459628
4/19/22     23658211
4/20/22     23844536
4/21/22     24006254
4/22/22     24141333
4/23/22     24180512
4/24/22     24200596
4/25/22     24337394
4/26/22     24337394
4/27/22     24609159
4/28/22     24710769
4/29/22     24798067
4/30/22     24809785
5/1/22      24813817
5/2/22      24927339
5/3/22      25033970
5/4/22      25130137
5/5/22      25215210
5/6/22      25287462
5/7/22      25295950
5/8/22      25299300
5/9/22      25406868
5/10/22     25503878
5/11/22     25592839
5/12/22     25661838
5/13/22     25723697
5/14/22     25729848
5/15/22     25732153
5/16/22     25818405
5/17/22     25890456
5/18/22     25949175
5/19/22     25998085
5/20/22     26040460
5/21/22     26044283
5/22/22     26045528
5/23/22     26109965
5/24/22     26159106
5/25/22     26198811
5/26/22     26200663
5/27/22     26240639
5/28/22     26243352
5/29/22     26244107
5/30/22     26305996
5/31/22     26360953
6/1/22      26409455
6/2/22      26452148
6/3/22      26493235
6/4/22      26493235
6/5/22      26496611
6/6/22      26498361
6/7/22      26583016
6/8/22      26660652
6/9/22      26738530
6/10/22     26803867
6/11/22     26803867
6/12/22     26809245
6/13/22     26915085
6/14/22     27007429
6/15/22     27096571
6/16/22     27124689
6/17/22     27204953
6/18/22     27204955
6/19/22     27211896
6/20/22     27334993
6/21/22     27454225
6/22/22     27573585
6/23/22     27681775
6/24/22     27771111
6/25/22     27771112
6/26/22     27771911
6/27/22     27914240
6/28/22     28048190
6/29/22     28180861
6/30/22     28293960
7/1/22      28392629
7/2/22      28392630
7/3/22      28394995
7/4/22      28542484
7/5/22      28673212
7/6/22      28808614
7/7/22      28926346
7/8/22      29022265
7/9/22      29022265
7/10/22     29025760
7/11/22     29180489
7/12/22     29308100
7/13/22     29460249
7/14/22     29569943
7/15/22     29692989
7/16/22     29692989
7/17/22     29692989
7/18/22     29853680
7/19/22     29994679
7/20/22     30131303
7/21/22     30239122
7/22/22     30331131
7/23/22     30331133
7/24/22     30331133
7/25/22     30476605
7/26/22     30598385
7/27/22     30702511
7/28/22     30787309
7/29/22     30853312
7/30/22     30853314
dtype: int64

In [10]:
country_list=['Albania',
              'Egypt',
              'Germany',
              'Italy',
              'Spain',
              'United Kingdom',
              'US',
             ]

In [15]:
for each in country_list:
    pd_raw[each] = np.array(pd_raw[pd_raw['Country/Region']==each].)

ValueError: Length of values (925) does not match length of index (285)

In [ ]:
%matplotlib inline
df_plot.set_index('date').plot()

### Data Type Date

In [ ]:
df_plot.head()

In [ ]:
time_idx=[datetime.strptime( each,"%m/%d/%y") for each in df_plot.date] # convert to datetime
time_str=[each.strftime("%m-%d-%y") for each in time_idx] # convert back to date ISO norm (str)

In [ ]:
df_plot['date']=time_idx
type(df_plot['date'][0])

In [ ]:
df_plot.head()

In [ ]:
df_plot.to_csv('../data/processed/COVID_small_flat_table.csv', sep=';',index=False)

### Relational data model - defining a primary key

In the relational model of databases, a primary key is a specific choice of a minimal set of attributes (columns) that 
uniquely specify a tuple (row) in a relation (table) (source: wiki)

A primary key's main features are:
* It must contain a unique value for each row of data.
* It cannot contain null values.

In [ ]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)
pd_raw.head()

In [ ]:
pd_data_base=pd_raw.rename(columns={'Country/Region':'country',
                                    'Province/State':'state'})
pd_data_base['state']=pd_data_base['state'].fillna('no')

In [ ]:
pd_data_base=pd_data_base.drop(['Lat','Long'],axis=1)
pd_data_base.head()

In [ ]:
test_pd=pd_data_base.set_index(['state','country']).T

In [ ]:
test_pd

In [ ]:
pd_relational_model = test_pd.stack().reset_index().rename(columns={'level_0':'date',0:'confirmed'})
pd_relational_model.head()

In [ ]:
pd_relational_model.dtypes

In [ ]:
pd_relational_model['date'] = pd_relational_model.date.astype('datetime64[ns]')

In [ ]:
pd_relational_model.dtypes

In [ ]:
pd_relational_model.confirmed=pd_relational_model.confirmed.astype(int)
df_plot.to_csv('../data/processed/COVID_small_flat_table.csv', sep=';',index=False)