In [1]:
#Import the necessary libraries
import subprocess
import os

import pandas as pd
import numpy as np

import requests
from bs4 import BeautifulSoup

import json

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px

In [2]:
#Add options and configure modules/libraries
%matplotlib inline
mpl.rcParams['figure.figsize'] = (20, 16)

pd.set_option('display.max.rows',2000)
pd.set_option('display.max.column',2000)

sns.set(style='darkgrid')

![CRISP_DM](../reports/figures/CRISP_DM.png)

### A static visualization of the Covid cases always 3 countries of your choice are in each figure

* Delivery 1 : Figure 1 The relative cases overtime of Covid infectors (absolut Covid cases/population size)
* Delivery 2 : Figure 2 The vaccination rate (percentage of the population) over time 
* Dataset Link clone/pull: https://github.com/owid/covid-19-data.git

In [36]:
url="https://covid.ourworldindata.org/data/owid-covid-data.csv"
df_world_covid_info=pd.read_csv(url,sep=',',parse_dates=[0])

In [37]:
df_covid_info = df_world_covid_info.filter(items=['iso_code',
                                              'location',
                                              'date', 
                                              'total_cases', 
                                              'new_cases', 
                                              'people_fully_vaccinated', 
                                              'population'])

In [38]:
Albania_info=[]
Germany_info=[]
UK_info=[]

df_covid_info = df_covid_info.set_index(['iso_code'])

Albania_info = df_covid_info.filter(like='ALB', axis=0).dropna()
Germany_info = df_covid_info.filter(like='DE', axis=0).dropna()
UK_info = df_covid_info.filter(like='GBR', axis=0).dropna()

df_covid_info = pd.concat([Albania_info,Germany_info,UK_info], axis=0)

In [39]:
df_covid_info.head()

,location,date,total_cases,new_cases,people_fully_vaccinated,population
iso_code,,,,,,
ALB,Albania,2021-02-02,79934.0,942.0,1.0,2872934.0
ALB,Albania,2021-02-09,87528.0,1239.0,438.0,2872934.0
ALB,Albania,2021-02-17,95726.0,1075.0,611.0,2872934.0
ALB,Albania,2021-02-18,96838.0,1112.0,611.0,2872934.0
ALB,Albania,2021-02-22,101285.0,1039.0,655.0,2872934.0

## Helper Functions

In [40]:
def quick_plot(df_info, x_in, y_in, col_in='location', title_in='example', renderer=''):
    """ Quick basic plot for quick static evaluation of a time series
        
        Parameters:
        ----------
        df_info : array
        x_in    : string 
        y_in    : string
        col     : string
        title   : string
    
    
        Returns:
        ----------
        nothing
    """
    fig = px.line(df_info, x=x_in, y=y_in, color=col_in, title=title_in)
    fig.show(renderer)

## Relative cases overtime of Covid infectors:(absolut Covid cases/population size)

In [41]:
df_covid_info['total_relative_cases']=df_covid_info['total_cases']/df_covid_info['population']

In [42]:
df_covid_info.head()

,location,date,total_cases,new_cases,people_fully_vaccinated,population,total_relative_cases
iso_code,,,,,,,
ALB,Albania,2021-02-02,79934.0,942.0,1.0,2872934.0,0.027823
ALB,Albania,2021-02-09,87528.0,1239.0,438.0,2872934.0,0.030466
ALB,Albania,2021-02-17,95726.0,1075.0,611.0,2872934.0,0.033320
ALB,Albania,2021-02-18,96838.0,1112.0,611.0,2872934.0,0.033707
ALB,Albania,2021-02-22,101285.0,1039.0,655.0,2872934.0,0.035255

In [43]:
quick_plot(df_covid_info,
           'date',
           'total_relative_cases',
            col_in='location',
            title_in='Covid Cases/Population Ratio',
            renderer='browser')

## The vaccination rate (percentage of the population) over time

In [44]:
df_covid_info['vaccination_rate']=df_covid_info['people_fully_vaccinated']/df_covid_info['population']

In [45]:
df_covid_info.head()

,location,date,total_cases,new_cases,people_fully_vaccinated,population,total_relative_cases,vaccination_rate
iso_code,,,,,,,,
ALB,Albania,2021-02-02,79934.0,942.0,1.0,2872934.0,0.027823,3.480762e-07
ALB,Albania,2021-02-09,87528.0,1239.0,438.0,2872934.0,0.030466,1.524574e-04
ALB,Albania,2021-02-17,95726.0,1075.0,611.0,2872934.0,0.033320,2.126746e-04
ALB,Albania,2021-02-18,96838.0,1112.0,611.0,2872934.0,0.033707,2.126746e-04
ALB,Albania,2021-02-22,101285.0,1039.0,655.0,2872934.0,0.035255,2.279899e-04

In [46]:
quick_plot(df_covid_info,
           'date',
           'vaccination_rate',
            col_in='location',
            title_in='Vaccination Ratio',
            renderer='browser')